---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:conent';

type Props = {
    post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;

---

<article>
    <a href={`/blog/${post.slug}`}>
        <Image 
            src={post.data.image}
            width={1200}
            height={1200 / 1.5}
            alt={post.data.title}
            class="rounded shadow-xl mt-6 mb-6 aspect-thumbnail object-cover"
        />
    </a>
    <a href={`/blog/${post.slug}`}>
        <h2 class="text-zinc-300 text-2xl">{post.data.title}</h2>
    </a>
    <p class="text-zinc-300 text-lg line-clamp-2">
        {post.body}
    </p>
</article>